@charset "utf-8";
/* CSS Document */

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;/*兼容低版本火狐浏览器*/
	-webkit-box-sizing:border-box;/*兼容低版本的  浏览器*/
	color:#000;
}
body{
	font-size:36px;
	font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";
	background:#fff;
	margin:0;
	overflow-x:hidden;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table{
	margin:0;
	padding:0;
}
a,img{
	border:none;
}
img{
	vertical-align:middle;
	border:0;
}
li{
	list-style:none;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none; 
     
	border:0;
}
a:link{
	text-decoration:none; 

}
a:visited{
	text-decoration:none; 

}
a:hover{
	text-decoration:none; 

}
a:active{
	text-decoration:none; 

}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}
